<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>

<body>
    <!-- Navigation-->
    <%- include('layouts/navigation'); -%>

    <!-- Page Header-->
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Examiner</h1>
                        <span class="subheading">Take driver's test</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active btn-examiner" aria-current="page" href="/examiner">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-examiner" href="/examiner/g2">G2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-examiner" href="/examiner/g">G</a>
                </li>
            </ul>
        </div>
        <hr>
        <% if (users) { %>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <% users.forEach(user => { %>
            <div class="card text-center" style="width: 18rem; margin: 15px;">
                <div class="card-body">
                    <h5 class="card-title"><%= user.userName %></h5>
                    <p><%= user.appointmentID.examType %></>
                    <p><%= user.appointmentID.date.toISOString().split('T')[0] %></p>
                    <p><%= user.appointmentID.time %></p>
                    <a href="/exam/<%= user._id %> " class="btn btn-primary">Take Test</a>
                </div>
            </div>
            <% }) %>

        </div>
        <hr>
        <% } %>

    </div>
    <!-- Footer-->
    <%- include('layouts/footer'); -%>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>