<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>

<body>
    <!-- Navigation-->
    <%- include('layouts/navigation'); -%>

    <!-- Page Header-->
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="page-heading">
                <h1>G2 License Appointment Booking</h1>
            </div>
        </div>
    </header>

    <% if ( user && user.firstName === "default") { %>
    <!-- G2 Form-->
    <%- include('layouts/g2form'); -%>
    <% } else if(appointment){%>
    <div class="container position-relative px-4 px-lg-5">
        <div class="page-heading">
            <h1>Hey,
                <%= appointment.firstName %>
            </h1>
            Your appointment for <b>G2 Exam</b> is booked on <b><%= appointment.date.toISOString().split('T')[0] %></b>
            and time is
            <b><%= appointment.time %></b>
        </div>
    </div>
    <br><br>
    <% } else if (user && user.g2Exam.isPassed === true) { %>
    <div class="container position-relative px-4 px-lg-5">
        <div class="page-heading">
            <h1>Hey,
                <%= user.firstName %>
            </h1>
            You have passed the exam.
            <br>
            Comment: <b><%= user.g2Exam.comment %></b>
        </div>
    </div>
    <% } else  {%>
    <!-- book appointment Page-->
    <%- include('layouts/bookAppointment'); -%>
    <% } %>

    <!-- Footer-->
    <%- include('layouts/footer'); -%>
</body>

</html>